body{
    background-color: #effcef;
  }
header table{
  text-align: center;
  margin: 0 auto;
}
.educationTable {
  text-align: center;
}
.educationTable ul{
  list-style-type: none;
  padding: 0 0 0 0;
}
.educationTable li{
  padding-bottom: 1em;
}


  #profilBilde{
    border-radius: 100%;
  }
hr{

    border-style:none;
    border-top-style: dotted;
border-width: 10px;
    width: 5%;
    color: grey;

}
h1{
  color:#35495e;
}
h3{
  color:   #35495e;
}
